:root{
    --placehoder-color: rgba(255, 255, 255, 0.7);
    --input-color: white;
    --button-bg: rgb(0, 128, 255);
    --txt-red: red;

}

.send--form{
    align-items: center;
    margin: 120px 0px 0px 0px;
    width: 100vw;

    h1{
        font-family: var(--ibm);
        color: var(--txt-red);
        margin: 0px 0px 20px 20px;
    }

    input{
        height: 50px;
        padding-left: 5px;
        /* margin: 10px 0px; */
        color: var(--input-color);
        background: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        margin-bottom: 5px;
        font-family: var(--ibm);
        font-size: 20px;
        border-style: none;
        border-radius: 0%;
    }
    input::placeholder{
        color: var(--placehoder-color);
        padding-left: 5px;
    }
    textarea{
        margin: 10px 0px;
        color: var(--input-color);
        padding-left: 5px;
        background: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        margin-bottom: 5px;
        font-family: var(--ibm);
        border-style: none;
        border-radius: 0%;
        font-size: 20px;
    }
    textarea::placeholder{
        color: var(--placehoder-color);
        padding-left: 5px;
    }

    .send-form_message{

        height: 90px;
    }
}

.send-form__container{
    margin: 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}


.send-form__upload {
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px auto 50px;

    img{
        width: 75px;
    }
    a {
        width: 100%;
        height: 100%;
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
    }
    .send-form__upload--button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        color: var(--input-color);
        background-color: var(--button-bg);
    }
}
