body{
    font-family: 'IBM Plex Mono';
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin: 0;
}

:root{
    --placehoder-color: rgba(255, 255, 255, 0.7);
    --input-color: white;
    --button-bg: rgb(0, 128, 255);

}

.send-form{

    align-items: center;
    margin: 250px auto 20px;
    width: 380px;
    display: grid;
    grid-template-columns: 1fr;

    input{
        padding-left: 5px;
        color: var(--input-color);
        background: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        margin-bottom: 10px;
        font-family: 'IBM Plex Mono';
        border-style: none;
        border-radius: 0%;
    }
    input::placeholder{
        color: var(--placehoder-color);
        padding-left: 5px;
    }
    textarea{
        color: var(--input-color);
        padding-left: 5px;
        background: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        margin-bottom: 5px;
        font-family: 'IBM Plex Mono';
        border-style: none;
        border-radius: 0%;
    }
    textarea::placeholder{
        color: var(--placehoder-color);
        padding-left: 5px;
    }
    
    .send-form_message{
        
        height: 90px;
    }
    
}


.send-form_upload {
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px auto 50px;
    
    a {
        
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        input {
            margin-top: 10px;
            padding:5px;
            color: var(--input-color);
            background-color: var(--button-bg);
        }
    }
}