main{
    height: 85vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main p{
    font-family: var(--ibm);
    font-weight: 600;
    font-size: 18px;
    color: var(--txt-color);
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#latest-sets-container{
    height: 70vh;
    width: 100vw;
    background-color: black;
    padding: 20px;
}

#latest-sets-container h1{
    font-family: var(--ibm);
    font-weight: bolder;
    font-size: 40px;
    color: var(--h1-color);
}



/* SLIDESHOW ------------------*/
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.slider-container-about {
    position: relative;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}
.slider-about {
    display: flex;
    transition: transform 0.3s ease;

}

.slide {
    min-width: 100%;
    transition: transform 0.3s ease;
}

.slide img {
    width: 100%;
    display: block;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s;
    cursor: pointer;
}

.dot.active {
    background-color: var(--txt-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

svg {
	background: none;
	fill: var(--txt-color);
	fill-opacity: 1;
	transition: fill 0.3s ease;
}

svg:hover {

	fill: #9f9f9f;
	cursor: pointer;

}

#prev {

	background: none;
	border: none;
	transform: rotate(180deg);

}


#next {

	background: none;
	border: none;

}


/*ANIMATION*/

.fading {

	animation: fadein 3s;

}

@keyframes fadein {

	from {
		opacity: 0;

	}
	to {
		opacity: 1;
	}
}