main{
    height: 85vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main p{
    font-family: var(--ibm);
    font-weight: 600;
    font-size: 18px;
    color: var(--txt-color);
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* LATEST SETS -------------------------------*/
.latest-sets{
    width: 100vw;
    background-color: var(--bg-black);
    padding: 20px 0px 40px 0px;
}

.latest-sets h1{
    font-family: var(--ibm);
    font-weight: bolder;
    font-size: 40px;
    color: var(--h1-color);
    padding-left: 20px;
}


/* SLIDESHOW ------------------------------------*/
.latest-sets__button-wrapper{
    display: flex;
    justify-content: space-between; /* Esto separa los botones */
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.latest-sets__slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.latest-sets__slider {
    display: flex;
    transition: transform 0.3s ease;
}

.latest-sets__slide {
    min-width: 100%;
    transition: transform 0.3s ease;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.iframe-wrapper iframe {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
}

.latest-sets__dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.latest-sets__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s;
    cursor: pointer;
}

.latest-sets__dot.active {
    background-color: var(--txt-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 800px; */
    /* position: relative; */
    /* margin: 0 auto; */
    /* width: 100%; */
    margin-left: 5px;
    margin-right: 5px;
}

svg {
	background: none;
	fill: var(--txt-color);
	fill-opacity: 1;
	transition: fill 0.3s ease;
}

svg:hover {

	fill: #9f9f9f;
	cursor: pointer;

}

#prev {
	background: none;
	border: none;
	transform: rotate(180deg);
}
#next {
	background: none;
	border: none;
}


/*ANIMATION*/

.fading {

	animation: fadein 3s;

}

@keyframes fadein {

	from {
		opacity: 0;

	}
	to {
		opacity: 1;
	}
}

/* BANNER ----------------------------------------*/

#banner__content {
    font-family: 'IBM Plex Mono', monospace;
    height: 40px;
    background-color: var(--bg-yellow);
    position: sticky;
    display: flex;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.banner{
    margin-bottom: -80px;
}

.banner__links {
    display: flex;
    width: max-content;
    animation: scrollLinks 20s linear infinite;
}

.banner__link {
    font-size: 40px;
    font-weight: bolder;
    color: var(--bg-black);
    text-decoration: none;
    margin: 0 20px; /* espacio entre palabras */
    white-space: nowrap;
}

@keyframes scrollLinks {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 600px) {
    .iframe-wrapper{
        aspect-ratio: 1 / 1;
    }
    .iframe-wrapper iframe {
        aspect-ratio: 1 / 1;
    }
}

@media screen and (min-width: 1024px) {
    .iframe-wrapper {
        display: flex;
        padding: 10px;
        max-width: 800px;
        margin: 0 auto;
    }
    .iframe-wrapper iframe{
        width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
    }
}
