/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	-webkit-overflow-scrolling: touch;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* HEADER ------------------------*/
header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 20px 20px 20px 0px;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 80px;
	z-index: 100;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* GLOBAL VARIABLES -------------------------------- */

:root {
	--txt-color: rgb(0, 255, 0);
	--h1-color: red;
	--bg-black: black;
	--bg-yellow: yellow;
	--bg-blu: lightseagreen;
    --ibm: "IBM Plex Mono", monospace;
}


/* NAVBAR ------------------------------------------ */
.header__logo img {
    width: 150px;

}

.header__side-content {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.header__side-content:last-child {
	justify-content: flex-end;
}


/* MENU-BUTTON ------------------------------------- */
.header__menu-button {
	/* position: absolute; */
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
    font-size: 70px;
    font-weight: bolder;
	color: var(--h1-color);
	cursor: pointer;
	border: none;
	outline: none;
	transition: transform 0.3s ease-in-out;
}

:root[menu-open] #menuButton span:nth-child(1) {
	transform: translate3d(0, 6px, 0) rotate(45deg);
}

:root[menu-open] #menuButton span:nth-child(2) {
	transform: scaleX(0);
	opacity: 0;
}

:root[menu-open] #menuButton span:nth-child(3) {
	transform: translate3d(0, -6px, 0) rotate(-45deg);
}

:root[menu-open] #menuButton span {
	background-color: var(--bg-black);
}

/* MENU ----------------------------------------- */
ul.menu__list {
	list-style: none;
	margin-left: 45px;
	padding: 0;
	text-align: start;
}

.menu {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100vh;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	/* mix-blend-mode: difference; */
	overflow-x: hidden;
	transition: right 0.3s ease-in-out;
	padding-top: 80px;
	z-index: 99;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.menu li {
	margin-top: 30px;
}

.menu a {
	margin: 5px;
    font-family: var(--ibm);
	color: var(--txt-color);
	transition: color 0.3s ease, text-shadow 0.3s ease;
	text-decoration: none;
	font-weight: 700;
}

.menu a:hover {
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
	color: #c2c2c2;
	cursor: pointer;
}

.menu.open {
	right: 0;
}

/* SUBMENU ---------------------------------- */
.menu .menu__list {
	list-style: none;
	padding: 0;
	display: block;
	font-weight: 100;
}

.menu li {
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Retraso a cada elemento usando nth-child */
.menu li:nth-child(1) {
	transition-delay: 0.001s;
}
.menu li:nth-child(2) {
	transition-delay: 0.002s;
}
.menu li:nth-child(3) {
	transition-delay: 0.003s;
}
.menu li:nth-child(4) {
	transition-delay: 0.004s;
}
.menu li.show {
	opacity: 1;
	transform: translateX(0);
}

/* BACKGROUND VID ------------------------------*/
video{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	pointer-events: none;
}